body {
    font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}

div.breadcrumbs {
    margin-bottom: 16px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 16px;
    margin-top: 0;
    overflow: auto;
}

table tr {
    background-color: #FFFFFF;
}

table tr:nth-child(2n) {
    background-color: #F6F8FA;
}

table th {
    font-weight: bold;
}

table td, table th {
    border: 1px solid #DFE2E5;
    padding: 6px 13px;
}

table.collection td.name.dir span.item-link a {
    font-weight: bold;
}

div.link-with-metadata {
    align-items: stretch;
    display: flex;
    justify-content: space-between;
}

div.link-with-metadata span.fill {
    min-width: 1em;
}

div.link-with-metadata span.metadata-link a {
    text-decoration: underline;
}

table.collection td.null {
    text-align: center;
}

footer {
    font-size: 9px;
}
