div.breadcrumbs {
    margin-bottom: 16px;
    font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0;
    margin-bottom: 16px;
    /*display: block;*/
    /*width: 100%;*/
    overflow: auto;
    font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}

table tr {
    background-color: #FFFFFF;
}

table tr:nth-child(2n) {
    background-color: #F6F8FA;
}

table th {
    font-weight: bold;
}

table td, table th {
    padding: 6px 13px;
    border: 1px solid #DFE2E5;
}

div.link-with-metadata {
    align-items: stretch;
    display: flex;
    justify-content: space-between;
}

table td.name.dir span.item-link a {
    font-weight: bold;
}

table td.name div.link-with-metadata span.fill {
    min-width: 1em;
}

table td.name div.link-with-metadata span.metadata-link a {
    text-decoration: underline;
}

table td.null {
    text-align: center;
}

footer {
    font: 9px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}
