div.breadcrumbs {
    margin-bottom: 16px;
    font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border-style: solid;
    border-width: 1px;
    margin-top: 0;
    margin-bottom: 16px;
    /*display: block;*/
    /*width: 100%;*/
    overflow: auto;
    font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}

table tr {
    background-color: #FFFFFF;
    border-top: 1px solid #C6CBD1;
}

table tr:nth-child(2n) {
    background-color: #F6F8FA;
}

table th {
    font-weight: bold;
}

table td, table th {
    padding: 6px 13px;
    border: 1px solid #DFE2E5;
}

table td.dir {
    font-weight: bold;
}

table td.null {
    text-align: center;
}

footer {
    font: 9px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}
